@font-face {
  font-family: "Aggro-M";
  font-display: fallback;
  src: url("./Aggro-Medium.eot?iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Aggro-B";
  font-display: fallback;
  src: url("./Aggro-Bold.eot?iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Aggro-L";
  font-display: fallback;
  src: url("./Aggro-Light.eot?iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: light;
}
