body {
  margin: 0;
  background-color: #261845;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: SB_Aggro_B;
  src: url("./font/SB_Aggro_OTF_B.otf");
}

@font-face {
  font-family: SB_Aggro_M;
  src: url("./font/SB_Aggro_OTF_M.otf");
}

@font-face {
  font-family: SB_Aggro_L;
  src: url("./font/SB_Aggro_OTF_L.otf");
}
